@import "girlypop.css";

* {
    font-family: SpaceMono Nerd Font;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    margin: 1px 1px;
}

#tooltip {
    color: @text;
    background-color: @surface0;
}

/* LEFT */

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

/* RIGHT */


/* set bubble background */
#custom-music,
#tray,
#custom-notifications,
#pulseaudio,
#network,
#backlight,
#battery,
#clock,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 1px 0.5rem;
    margin: 2px 0;
}

/* add curved edges */

#clock {
    border-radius: 0px 1rem 1rem 0px;
    padding-right: 1rem;
    margin-right: 1rem;
}

#custom-notifications {
    border-radius: 1rem 0px 0px 1rem;
    padding-left: 1rem;
}

#custom-lock {
    padding-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
}

/* set colors */

#custom-notifications,
#pulseaudio,
#network,
#backlight,
#battery,
#clock,
#custom-lock,
#custom-power {
    color: @text;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}

/* set css for xml menu */

menu {
    border-radius: 15px;
    background: @surface1;
    color: @text;
}

menuitem {
    border-radius: 15px;
}

menuitem.active {
    background: @text;
}
